@model IEnumerable<BasicClassificationDto>




<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4"><span class="text-muted fw-light">      التصنيفات الرئيسية  /</span> التصنيفات الاساسية   </h4>


        <!-- Ajax Sourced Server-side -->
        <div class="card">

            <div class="row ">
                <div class="col-md-6 text-start  mt-3  ps-4">
                    @{
                    if (TempData.GetTemp<string>("name") != null)
            {
                  var name = TempData.GetTemp<string>("name");

                    <h5 class="card-title mb-0 ms-2"> التصنيفات الاساسية  ل @name</h5>
            }
                
            }
                </div>
                <div class="col-md-6 text-end">
@{

                    @if (TempData.GetTemp<int>("MainClassificationId") != 0)
            {
                       int mainId = TempData.GetTemp<int>("MainClassificationId");
                         <div class="dt-buttons text-end me-3">
                        <a class="dt-button create-new btn btn-primary mt-3" asp-controller="BasicClassification" asp-action="Create" asp-route-MainClassificationId="@mainId" tabindex="0">اضافة  </a>
                                                <a class="dt-button create-new btn btn-secondary mt-3" asp-controller="MainClassification" asp-action="index"  tabindex="0"> الرجوع </a>

                    </div>
                       
            }
            }
                </div>
            </div>
            @if (TempData.ContainsKey("msg"))
            {
                <div class="alert alert-warning">@TempData["msg"]</div>
            }
              @if (TempData.ContainsKey("suc"))
            {
                                <div class="alert alert-warning">@TempData["suc"]</div>
            }
               @if (TempData.ContainsKey("didentDelete"))
            {
                                <div class="alert alert-warning">@TempData["didentDelete"]</div>
            }
            <!-- datatable start -->
            @if (Model != null && Model.Any())
            {
                <div class="card-datatable text-nowrap">
                    <table class="datatables-ajax table  ">
                        <thead class="border-top">

                            <tr>

                                <th> @Html.DisplayNameFor(d=>d.Id)</th>
                                <th> @Html.DisplayNameFor(d=>d.ImageUrl)</th>
                                <th>@Html.DisplayNameFor(d=>d.ArBasicClassificationName)</th>
                                <th>@Html.DisplayNameFor(d=>d.EnBasicClassificationName)</th>
                                

                                <th>الحالة </th>
                                <th>تاريخ الاضافة </th>

                                <th>الاجرءات</th>
                            </tr>


                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>


                                    <td>@item.Id</td>
                                               @if (item.ImageUrl != null)
                                    {
                                            <td>
                                                <img src="../../Upload/BasicClassification/@item.ImageUrl" id="Image_Image" class="users-avatar-shadow rounded-circle" height="70" width="70">

                                            </td>              
                                    }
                                    else
                                    {

                                            <td>
                                                <img src="../../../app-assets/images/portrait/small/avatar-s-26.jpg" id="Image_Image" class="users-avatar-shadow rounded-circle" height="70" width="70">

                                            </td>   
                                    }
                                    @if (item.ArBasicClassificationName != null)
                                    {
                                        <td>@item.ArBasicClassificationName</td>
                                    }
                                    else
                                    {
                                        <td>------</td>
                                    }
                                    @if (item.EnBasicClassificationName != null)
                                    {
                                        <td>@item.EnBasicClassificationName</td>
                                    }
                                    else
                                    {
                                        <td>------</td>
                                    }

                                  
                                    <td>@item.IsActive</td>

                                    @if (item.CreatedAt != null)
                                    {
                                        <td>@item.CreatedAt</td>
                                    }
                                    else
                                    {
                                        <td>------</td>
                                    }

                                      <td>
                                                <div class="btn-group dropend">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu mx-1">
                                                        <a class="dropdown-item" asp-controller="BasicClassification" asp-action="Edit" asp-route-Id="@item.Id"> تعديل  </a>
                                                        <a class="dropdown-item" asp-controller="BasicClassification" asp-action="Delete" asp-route-Id="@item.Id"> حذف  </a>
                                                        <a class="dropdown-item" asp-controller="SubClassificationBase" asp-action="Index" asp-route-BasicClassificationId="@item.Id"> اضافة تصنيف فرعي     </a>
                                                  
                                                    </div>


                                                </div>
                                            </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-danger  m-5"> <center>لا توجد بيانات</center></div>
            }

        </div>
        <!--/ Ajax Sourced Server-side -->



        <div class="content-backdrop fade"></div>

        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>
<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>

<!-- Drag Target Area To SlideIn Menu On Small Screens -->
<div class="drag-target"></div>

